# Arquivos de documentação interna
arquitetura.md

# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db